<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.music">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <service android:name="com.woodpecker.music.service.PlayService" />
        <receiver android:name="com.woodpecker.music.receiver.NotificationStatusBarReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="YC_ACTION_STATUS_BAR" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.woodpecker.music.receiver.EarphoneControlReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.woodpecker.music.receiver.AudioBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.ycbjie.lock" />
            </intent-filter>
        </receiver>
    </application>

</manifest>