<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.woodpecker.qiqivideoplayer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.woodpecker.qiqivideoplayer.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.activity.TypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name="com.yc.ycvideoplayer.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yc.ycvideoplayer.newPlayer.activity.TypeActivity"/>-->
        <activity android:name="com.woodpecker.qiqivideoplayer.oldPlayer.TestTinyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.oldPlayer.TestClarityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.oldPlayer.TestRecyclerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.oldPlayer.TestFragmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.oldPlayer.TestEightVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.list.TestListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.oldPlayer.TestWindowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.oldPlayer.TestNormalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.tiny.TestFullActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.oldPlayer.TestSavePosActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.surface.TestSurfaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
<!--        <activity android:name="com.yc.ycvideoplayer.newPlayer.activity.TypeActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            android:screenOrientation="portrait"/>-->
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.activity.NormalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.activity.MultipleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.tiktok.TikTok2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.tiktok.TikTok1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.oldPlayer.TestFullActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.danmu.DanmuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.ad.AdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.list.ContinuousVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.clarity.ClarityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.tiny.TinyScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.oldPlayer.OldActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.pip.PipActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.newPlayer.pip.PipListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.activity.DemoActivity"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.activity.IjkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.activity.MediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.activity.MediaActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.activity.ExoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.music.MusicPlayerActivity"/>
        <activity android:name="com.woodpecker.qiqivideoplayer.m3u8.M3u8Activity"/>
    </application>

</manifest>